# Dependency directories
node_modules/

#intellij
.idea
*.iml

# Logs
logs
*.log

# Nextjs
.next

# local env files
.env*.local

# Mac files
.DS_Store

#testfile-output being generated
tsconfig.tsbuildinfo