# Dependency directories
node_modules/

#intellij
.idea
*.iml

# Logs
logs
*.log

# Nextjs
.next

# dotenv environment variable files
.env*

# Mac files
.DS_Store

# Sentry
.sentryclirc

#testfile-output being generated
tsconfig.tsbuildinfo