.container {
  text-align: center;
  margin: 1rem auto 2rem;
  max-width: 38rem;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.last-updated {
  margin-top: 0.75rem;
  font-style: italic;
  opacity: 0.8;
}
